<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738734599438-4qvnvu99gvc2ctb2eng6qu99pk6u823p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738734599438-4qvnvu99gvc2ctb2eng6qu99pk6u823p</string>
	<key>API_KEY</key>
	<string>AIzaSyAdCi5dXyWcoLZ2VBNG2-d1wARBSMyDF5s</string>
	<key>GCM_SENDER_ID</key>
	<string>738734599438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bizLink</string>
	<key>PROJECT_ID</key>
	<string>bizlink-fyp</string>
	<key>STORAGE_BUCKET</key>
	<string>bizlink-fyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738734599438:ios:c1d6d0d7d58d1d8f2bfb5f</string>
</dict>
</plist>